body {
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.waterpas {
  width: 100%;
  height: 10px;
  background-color: orange;
  position: relative;
  transform-origin: left center;
  transform: rotate(0deg);
}
