:root {
  --main: #ffffff;
}
@media (prefers-color-scheme: dark) {
  :root {
    --main: #000000;
  }
}

* {
  transition: all ease-in-out .5s;
}

/* Stijl voor het speelveld */
#game-container {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: var(--main);
  border: 1px solid #000; /* Voeg een rand toe aan het speelveld */
  margin: 0 auto;
}

#snake {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgba(0, 128, 0, 0);
}

.trail {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: blue; /* Voeg deze regel toe voor blauwe kleur */
  border: 1px solid black; /* Voeg een rand toe om de segmenten te markeren */
}

#food {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
}

/* Stijl voor de knoppen */
.buttons {
  text-align: center;
  margin-top: 10px;
}

button {
  font-size: 24px;
  padding: 10px 15px;
  margin: 0 10px;
  cursor: pointer;
  border: none;
  background-color: #f2f2f2;
  border-radius: 5px;
}

/* Stijl voor de pauzeknop */
.pause-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
}

/* Stijl voor het score-element */
#score {
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
}
